<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gdriver - {{.CurrentPath}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        body {
            background-color: #212529;
            color: #ccc;
        }

        h1 {
            overflow: hidden;
        }

        .action-row {
            padding: 10px 0 10px 10px;
        }

        .action-row .btn {
            margin-right: 10px;
        }

        .fileTable {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 115px;
            overflow: scroll;
        }

        .fileTable > .row > div {
            padding-bottom: 5px;
        }

        .fileTable .d-path {
            overflow-wrap: break-word;
        }

        .fileTable .d-act {
            text-align: center;
        }

        .fileTable .action-check {
            font-size: 1.2em;
        }

        .progress {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
    </style>
</head>
<body>
<!--
<div class="progress" style="height: 2px;">
<div id="countdown" class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
aria-valuemax="100"></div>
</div>
-->
<h1>{{.CurrentPath}}</h1>

<div class="action-row">
    <button type="button" class="btn btn-dark action-unselect"><span class="checked-count">0</span></button>
    <button type="button" class="btn btn-secondary action-mark-unknown">Unmark</button>
    <button type="button" class="btn btn-primary action-mark-pending">Queue</button>
    <button type="button" class="btn btn-success action-mark-done">Done</button>
</div>

<div class="fileTable">
    <div class="row">
        <div class="d-act col-3 col-lg-1">Actions</div>
        <div class="d-path col-6 col-lg-9">Path</div>
        <div class="d-mtime col-3 col-lg-2">MTime</div>

        <div class="filter w-100"></div>
        <div class="filter d-act col-3 col-lg-1">
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                        id="filterActionsDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" data-current-filter="none">
                    -No Filter-
                </button>
                <div class="dropdown-menu" aria-labelledby="filterActionsDropdownMenuButton">
                    <a class="dropdown-item sts-f-none" href="#" data-value="none">-No Filter-</a>
                    <a class="dropdown-item sts-f-unknown" href="#" data-value="unknown">
                        <i class="fa fa-question-circle"></i>
                        Unknown
                    </a>
                    <a class="dropdown-item sts-f-ready" href="#" data-value="ready">
                        <i class="fa fa-upload" style="color:var(--yellow);"></i>
                        Queued
                    </a>
                    <a class="dropdown-item sts-f-pending" href="#" data-value="pending">
                        <i class="fa fa-refresh" style="color:var(--orange);"></i>
                        Next Upload
                    </a>
                    <a class="dropdown-item sts-f-inprogress" href="#" data-value="inprogress">
                        <i class="fa fa-refresh fa-spin" style="color:var(--green);"></i>
                        Uploading
                    </a>
                    <a class="dropdown-item sts-f-done" href="#" data-value="done">
                        <i class="fa fa-check-circle" style="color:var(--blue)"></i>
                        Complete
                    </a>
                    <a class="dropdown-item sts-f-error" href="#" data-value="error">
                        <i class="fa fa-exclamation-circle" style="color:var(--red);"></i>
                        Error
                    </a>
                </div>
            </div>
        </div>
        <div class="filter d-path col-6 col-lg-9">
            {{/*<input type="text" class="form-control form-control-sm" placeholder="Regex">*/}}
        </div>
        <div class="filter d-mtime col-3 col-lg-2">
            {{/*<input type="text" class="form-control form-control-sm" placeholder="Regex">*/}}
        </div>

        {{if .IsNotRoot}}
            <div class="w-100"></div>
            <div class="d-act col-3 col-lg-1">--</div>
            <div class="d-path col-6 col-lg-9"><a href="/files/{{.ParentPathID}}">/..</a></div>
            <div class="d-mtime col-3 col-lg-2">--</div>
        {{end}}
        {{range .Files}}
            <div class="w-100 file-row row-{{.ID}}"></div>
            <div class="d-act action-check col-3 col-lg-1 file-row row-{{.ID}}">
                <input type="hidden" class="action-input" name="{{.ID}}" value="0"/>
                <i class="fa fa-square-o input-off"></i>
                <i class="fa fa-check-square-o input-on"></i>
                <span class="sts-list" id="{{.ID}}" data-status="{{.Status}}">
                <i class="sts-unknown fa fa-question-circle"></i>
                <i class="sts-error fa fa-exclamation-circle" style="display:none; color:var(--red);"></i>
                <i class="sts-ready fa fa-upload" style="display:none; color:var(--yellow);"></i>
                <i class="sts-pending fa fa-refresh" style="display:none; color:var(--orange);"></i>
                <i class="sts-inprogress fa fa-refresh fa-spin" style="display:none; color:var(--green);"></i>
                <i class="sts-done fa fa-check-circle" style="display:none; color:var(--blue)"></i>
            </span>
            </div>
            <div class="d-path col-6 col-lg-9 file-row row-{{.ID}}">
                {{if .IsDir}}
                    <a href="/files/{{.ID}}">{{.Name}}</a>
                {{else}}
                    {{.Name}}
                {{end}}
            </div>
            <div class="d-mtime col-3 col-lg-2 file-row row-{{.ID}}">{{.ModTime.Format "Jan _2 3:04 PM"}}</div>
        {{end}}

    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="application/javascript">

    function updateStatusFilter(status) {
        var selectedElement = jQuery('.filter.d-act .sts-f-' + status);
        if (selectedElement.length === 0) {
            selectedElement = jQuery('.filter.d-act .sts-f-none');
            status = 'none';
        }
        jQuery('.filter.d-act .dropdown-toggle').html(selectedElement.html()).attr('data-current-filter', status);
        applyStatusFilter();
    }

    function applyStatusFilter() {
        var status = jQuery('.filter.d-act .dropdown-toggle').attr('data-current-filter');
        if (status === 'none') {
            jQuery('.file-row').show();
        } else {
            jQuery('.file-row').hide();
            jQuery('.sts-list[data-status="' + status + '"]').each(function (index, obj) {
                jQuery('.row-' + obj.id).show();
            });
        }
    }

    function updateCheckbox() {
        var input = jQuery(this);
        if (input.val() === "1") {
            input.siblings('.input-off').hide();
            input.siblings('.input-on').show();
        } else {
            input.siblings('.input-off').show();
            input.siblings('.input-on').hide();
        }
        updateActionRow();
    }

    function updateStatus(span) {
        span = jQuery(span);
        var status = span.attr('data-status');
        span.find('i').hide();
        span.find('.sts-' + status).show();
    }

    function updateActionRow() {
        var countChecked = 0;
        jQuery('.action-input').each(function (i, input) {
            if (jQuery(input).val() === "1") {
                countChecked = countChecked + 1;
            }
        });

        jQuery('.checked-count').html(countChecked);
        // if (countChecked > 0) {
        //     jQuery('.action-row').show();
        // } else {
        //     jQuery('.action-row').hide();
        // }
    }

    function uncheckAll() {
        jQuery('.action-input').val("0").change();
    }

    function markUnknown() {
        mark('unknown');
    }

    function markReady() {
        mark('ready');
    }

    function markPending() {
        mark('pending');
    }

    function markInProgress() {
        mark('inprogress');
    }

    function markDone() {
        mark('done');
    }

    function mark(status) {
        var fileIDs = [];
        jQuery('.action-input').each(function (i, input) {
            input = jQuery(input);
            if (input.val() === "1") {
                fileIDs.push(input.attr('name'))
            }
        });

        jQuery.post('/queue/update/' + status, JSON.stringify(fileIDs), function (data) {
            updateStatuses(data);
            uncheckAll();
        })
    }

    function updateStatuses(data) {
        var span;
        for (var key in data) {
            if (!data.hasOwnProperty(key)) {
                continue;
            }
            span = jQuery('#' + key).attr('data-status', data[key]);
            updateStatus(span)
        }
        applyStatusFilter();
    }

    var waitDefault = 2000,
        waitStep = 1.4,
        waitMax = 30000,
        wait = waitDefault,
        timeout,
        lastStatus = "";

    function updatePendingInProgress() {
        clearTimeout(timeout);
        var fileIDs = [],
            fileID, status;
        jQuery('.action-input').each(function (i, input) {
            fileID = jQuery(input).attr('name');
            status = jQuery('#' + fileID).attr('data-status');
            if (status === "ready" || status === "pending" || status === "inprogress") {
                fileIDs.push(fileID);
            }
        });

        if (fileIDs.length > 0) {
            console.log("Checking for " + fileIDs.length + " statuses...");
            jQuery.post('/queue/status', JSON.stringify(fileIDs), function (data, status, xhr) {

                if (lastStatus === xhr.responseText) {
                    wait = parseInt(wait * waitStep);
                    if (wait > waitMax) {
                        wait = waitMax;
                    }
                } else {
                    wait = waitDefault;
                }
                lastStatus = xhr.responseText;

                updateStatuses(data);
                startCountdown();
            });
        } else {
            wait = waitDefault;
            startCountdown();
        }
    }

    function startCountdown() {
        // var bar = jQuery('#countdown');
        // bar.css('width', '100%');
        // bar.prop('w', 100);
        //
        // timeout = setTimeout(updateCountdown, wait / 10);
        // console.log(wait);
        setTimeout(updatePendingInProgress, wait);
    }

    function updateCountdown() {
        var bar = jQuery('#countdown');
        var w = bar.prop('w');
        if (w > 0) {
            w = w - 10;
        }
        bar.css('width', w + '%');
        bar.prop('w', w);
        timeout = setTimeout(updateCountdown, wait / 10);
    }

    jQuery('.action-mark-unknown').click(markUnknown);
    jQuery('.action-mark-pending').click(markReady);
    jQuery('.action-mark-done').click(markDone);

    jQuery('.action-unselect').click(uncheckAll);

    jQuery('.action-input').change(updateCheckbox);
    jQuery('.action-input').each(function (i, ele) {
        updateCheckbox.bind(ele)();
    });

    jQuery('.action-check').click(function () {
        var div = jQuery(this);
        var input = div.find('.action-input');

        if (input.val() === "1") {
            input.val("0");
        } else {
            input.val("1");
        }
        input.change();
    });

    jQuery('.sts-list').each(function (i, span) {
        updateStatus(span);
    });

    jQuery('.filter.d-act .dropdown-item').click(function (event) {
        updateStatusFilter(jQuery(event.currentTarget).attr('data-value'));
    });

    updatePendingInProgress();
</script>
</body>
</html>