<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gdriver - {{.CurrentPath}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        body {
            background-color: #212529;
            color: #ccc;
        }

        .fileTable .action-row {
            padding: 20px;
        }

        .fileTable .action-row .btn {
            margin-right: 20px;
        }

        .fileTable > .row > div {
            padding-bottom: 5px;
        }

        .fileTable .d-path {
            overflow-wrap: break-word;
        }

        .fileTable .d-act {
            text-align: center;
        }

        .fileTable .action-check {
            font-size: 1.2em;
        }
    </style>
</head>
<body>
<div class="progress" style="height: 2px;">
    <div id="countdown" class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
         aria-valuemax="100"></div>
</div>
<h1>{{.CurrentPath}}</h1>

<div class="fileTable">
    <div class="action-row">
        <button type="button" class="btn btn-dark action-unselect"><span class="checked-count">10</span> Selected
        </button>
        <button type="button" class="btn btn-primary action-mark-pending">Add to Queue</button>
        <button type="button" class="btn btn-success action-mark-done">Mark as Done</button>
    </div>
    <div class="row">
        <div class="d-act col-3 col-lg-1">Actions</div>
        <div class="d-path col-6 col-lg-9">Path</div>
        <div class="d-mtime col-3 col-lg-2">MTime</div>

    {{if .IsNotRoot}}
        <div class="w-100"></div>
        <div class="d-act col-3 col-lg-1">--</div>
        <div class="d-path col-6 col-lg-9"><a href="/files/{{.ParentPathID}}">/..</a></div>
        <div class="d-mtime col-3 col-lg-2">--</div>
    {{end}}
    {{range .Files}}
        <div class="w-100"></div>
        <div class="d-act action-check col-3 col-lg-1">
            <input type="hidden" class="action-input" name="{{.ID}}" value="0"/>
            <i class="fa fa-square-o input-off"></i>
            <i class="fa fa-check-square-o input-on"></i>
            <span class="sts-list" id="{{.ID}}" data-status="{{.Status}}">
                <i class="sts-unknown fa fa-question-circle"></i>
                <i class="sts-error fa fa-exclamation-circle" style="color:var(--red);"></i>
                <i class="sts-pending fa fa-refresh" style="color:var(--yellow);"></i>
                <i class="sts-inprogress fa fa-refresh fa-spin" style="color:var(--green);"></i>
                <i class="sts-done fa fa-check-circle" style="color:var(--blue)"></i>
            </span>
        </div>
        <div class="d-path col-6 col-lg-9">
        {{if .IsDir}}
            <a href="/files/{{.ID}}">{{.Name}}</a>
        {{else}}
            {{.Name}}
        {{end}}
        </div>
        <div class="d-mtime col-3 col-lg-2">{{.ModTime.Format "Jan _2 3:04 PM MST"}}</div>
    {{end}}

    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="application/javascript">

    function updateCheckbox() {
        var input = jQuery(this);
        if (input.val() === "1") {
            input.siblings('.input-off').hide();
            input.siblings('.input-on').show();
        } else {
            input.siblings('.input-off').show();
            input.siblings('.input-on').hide();
        }
        updateActionRow();
    }

    function updateStatus(span) {
        span = jQuery(span);
        var status = span.attr('data-status');
        span.find('i').hide();
        span.find('.sts-' + status).show();
    }

    function updateActionRow() {
        var countChecked = 0;
        jQuery('.action-input').each(function (i, input) {
            if (jQuery(input).val() === "1") {
                countChecked = countChecked + 1;
            }
        });

        jQuery('.checked-count').html(countChecked);
        // if (countChecked > 0) {
        //     jQuery('.action-row').show();
        // } else {
        //     jQuery('.action-row').hide();
        // }
    }

    function uncheckAll() {
        jQuery('.action-input').val("0").change();
    }

    function markPending() {
        mark('pending');
    }

    function markInProgress() {
        mark('inprogress');
    }

    function markDone() {
        mark('done');
    }

    function mark(status) {
        var fileIDs = [];
        jQuery('.action-input').each(function (i, input) {
            input = jQuery(input);
            if (input.val() === "1") {
                fileIDs.push(input.attr('name'))
            }
        });

        jQuery.post('/queue/update/' + status, JSON.stringify(fileIDs), function (data) {
            updateStatuses(data);
            uncheckAll();
        })
    }

    function updateStatuses(data) {
        var span;
        for (var key in data) {
            span = jQuery('#' + key).attr('data-status', data[key])
            updateStatus(span)
        }
    }

    var wait = 10000;
    var timeout;

    function updatePendingInProgress() {
        clearTimeout(timeout);
        var fileIDs = [],
                fileID, status;
        jQuery('.action-input').each(function (i, input) {
            fileID = jQuery(input).attr('name');
            status = jQuery('#' + fileID).attr('data-status');
            if (status === "pending" || status === "inprogress") {
                fileIDs.push(fileID);
            }
        });

        if (fileIDs.length > 0) {
            console.log("Checking for " + fileIDs.length + " statuses...");
            jQuery.post('/queue/status', JSON.stringify(fileIDs), function (data) {
                updateStatuses(data);
                startCountdown();
            });
        } else {
            startCountdown();
        }
    }

    function startCountdown() {
        var bar = jQuery('#countdown');
        bar.css('width', '100%');
        bar.prop('w', 100);

        timeout = setTimeout(updateCountdown, wait / 10);
        setTimeout(updatePendingInProgress, wait);
    }

    function updateCountdown() {
        var bar = jQuery('#countdown');
        var w = bar.prop('w');
        if (w > 0) {
            w = w - 10;
        }
        bar.css('width', w + '%');
        bar.prop('w', w);
        timeout = setTimeout(updateCountdown, wait / 10);
    }

    jQuery('.action-mark-pending').click(markPending);
    jQuery('.action-mark-done').click(markDone);

    jQuery('.action-unselect').click(uncheckAll);

    jQuery('.action-input').change(updateCheckbox);
    jQuery('.action-input').each(function (i, ele) {
        updateCheckbox.bind(ele)();
    });

    jQuery('.action-check').click(function () {
        var div = jQuery(this);
        var input = div.find('.action-input');

        if (input.val() === "1") {
            input.val("0");
        } else {
            input.val("1");
        }
        input.change();
    });

    jQuery('.sts-list').each(function (i, span) {
        updateStatus(span);
    });

    updatePendingInProgress();
</script>
</body>
</html>